{# templates/thanky_you.twig #}
{% extends "base.html.twig" %}

{% block body %}
    <div class="card-deck mb-3 text-center">
        {% for ruling in rulings %}
            <div class="card mb-4 shadow-sm {{ ruling.visible_to < now ? 'text-muted' : '' }}">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ ruling.name }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ ruling.since | date('j. n. Y') }}</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        {% if ruling.visible_from < now %}
                            <li>Mělo by se začít projevovat v omezené míře</li>
                        {% elseif ruling.visible_to < now %}
                            <li>Mělo by se projevit</li>
                        {% else %}
                            <li>Projeví se za: {{ ruling.remaining_days_from }} až {{ ruling.remaining_days_to }} <a
                                        href="#why">[?]</a></li>
                        {% endif %}
                        <li>Efekt nejdříve {{ ruling.visible_from | date('j. n. Y') }}</li>
                        <li>Efekt nejpozději {{ ruling.visible_to | date('j. n. Y') }}</li>
                    </ul>
                    <p>{{ ruling.description }}</p>
                </div>
            </div>
            {% if loop.index % 2 == 0 %}
                </div>
                <div class="card-deck mb-3 text-center">
            {% endif %}
        {% endfor %}
    </div>

    <div>
        <dl>
            <dt>Čas za jak dlouho se opatření projeví</dt>
            <dd>Podle Lina <a href="#ref1">[1]</a> můžeme z počtu úmrtí (což je poměrně přesná hodnota) usuzovat na
                ostatní věci se zpožděním 21 až 28 dní. Důvodem je to, že symptomy se objevují po 3 až 10 dnech a
                smrt nastáva průměrně po 18 dnech. Jakékoli opatření, které zavedeme můžeme vyhodnocovat s tímto
                odpovídajícím odstupem.
            </dd>
        </dl>
    </div>
{% endblock %}
